<section class="conteudo">
    <div class="titulo">
        <h1 id="tituloPagina">Incluir Categoria</h1>
    </div>
	<form method="post" id="formIncluir">
        <input type="hidden" name="id" id="id" value="">
        <div class="formulario">
            <div class="col-12" style="margin-top: 20px;">
                <label for="descricao">Descrição</label>
                <input type="text" name="descricao" id="descricao" class="campo-texto">
            </div>
        </div>
        <div style="text-align: center; margin-top: 20px;">
            <input type="submit" name="salvar" value="Salvar" class="botao">
        </div>
    </form>
</section>