<section class="conteudo">
    <div class="titulo">
        <h1>Produtos</h1>
    </div>
    <div class="formulario" id="produtos"></div>
    <div style="text-align: center; margin-top: 20px;">
        <input type="hidden" name="id_selecionado" id="id_selecionado" value="">
        <input type="button" name="incluirProduto" id="incluirProduto" value="Incluir" class="botao">
        <input type="button" name="editarProduto" id="editarProduto" value="Editar" class="botao">
        <input type="button" name="excluirProduto" id="excluirProduto" value="Excluir" class="botao">
    </div>
</section>